html{
	height:150%;
}
body{
	color: #303030;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}

p{
	font-size:18px;
	word-wrap:normal;
}

.title{
	font-weight:bold;
}

.mainnav{
	overflow: hidden;
	list-style-type: none;
	background-color: #f58c2a;
}

#center{
	position:relative; 
	top:10px;
}

.mainnav li {float: left;}
.mainnav li a {
	text-decoration: none;
	display: block;
	padding: 30px 20px;
	color: #ffffff;
	text-align: center;
}

.flex img{
	height:300px;
	width:auto;
}


#logo{
    color: #F58C2A;
    text-align: center;
    font-size: 40px;
	padding: 0px;
	font-family: 'Bebas Neue',monospace;
}
  
.flex{
	display:flex;
    background-color:#cccccc;
    flex-wrap: wrap;
}
.flex > div{
	background-color:#ffffff;
	margin: 10px 1px 10px 10px;
	padding:1%;
}

.footer{
	background-color:#303030;
	background-image:linear-gradient(#f58c2a,#e9b983);
	height:100px;
	position: relative;
	top:20em;
}

#footerlogo{
	color:#ffffff;
	text-align:left;
	padding: 20px 30px;
	font-size:30px;
	font-family: 'Bebas Neue',monospace;
}